<div style="
      background-image:URL(../assets/images/wall1.jfif);
      height: 100%;
      text-align:center;
      margin:0px;
      padding: 0em;">
      
  <img src="../assets/images/Jessa.jpeg" alt="me" style="
      width:300px;
      height:300px;
      margin: auto 100px;
      padding: 0px auto;"
      >

    <p style="font-size:18px; text-align: center;"><b style="background-color:rgb(79, 50, 104);color:#fffb2b" >
      Hi! My name is Jessa Mae Cabelin</b>
    </p>
    
    <p style="font-size:20px"><b style="background-color:rgb(79, 50, 104);color:#c9c504">
      I am a student at<i> Eastern Visayas State University.</i></b></p>

      <p style="font-size:20px"><b style="background-color:rgb(79, 50, 104);color:#c9c504"> From Brgy. Hiagsam Jaro,Leyte</b></p>
      <p style="font-size:20px"><b style="background-color:rgb(79, 50, 104);color:#c9c504">A 3rd Year  Information Technology College Student</b></p>
      
      <p style="font-size:20px"><b style="background-color:rgb(79, 50, 104);color:#c9c504">Hobbies: I do love reading novels, watching kdrama,travelling and practticing photography</b></p>
      <p style="font-size:20px"><b style="background-color:rgb(79, 50, 104);color:#c9c504">My Mother's Name is Emily V. Cabelin and my fatner's name is Nestor M. Cabelin</b></p>
   <br>
   <br>
   <p style="text-align: center;font-size:30px"><b style="background-color:aquamarine " >MY GALLERY</b></p> 
   <img src="../assets/images/Jessa.jpeg">
   <img src="../assets/images/pic1.jpeg">
   <img src="../assets/images/pic2.jpeg">
   <img src="../assets/images/pic3.jpg">
   <img src="../assets/images/pic4.jpg">
   <img src="../assets/images/pic5.jpg">
   <img src="../assets/images/pic6.jpeg">
   <img src="../assets/images/Jessa.jpeg">
</div>


